<%- include('partials/header') -%>
  <div id="map"></div>

  <script defer type="text/javascript" src="./main.js"></script>
  
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYhz-9rSvO9198a7dvOymKx15_EBb9GbU&callback=initMap">
  </script>
  <!-- <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
    </div>
  </div>   -->
<%- include('partials/footer') -%>